<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/tetris.css">
    <script type="text/javascript" src="/js/tetris.js"></script>
</head>
<body>
    {% if isAuthenticated %}
    <div class="game-start">
        <button id="start-game-button">게임 시작</button> <!-- 중앙에 게임 시작 버튼 -->
    </div>
    <script>
        document.getElementById('start-game-button').addEventListener('click', function() {
            document.querySelector('.game-start').innerHTML = `
                <h1>테트리스</h1>
                <div class="wrapper-container">
                    <span class="tetris-container">
                        <canvas id="stage" width="250px" height="500px" style="background-color:black;">
                        </canvas>
                        <span class="tetris-panel-container">
                            <p>Next:</p>
                            <canvas id="next" width="150px" height="150px" style="background-color:black;">
                            </canvas>
                            <p>LINES: <span id="lines">0</span></p>
                            <p>Score: <span id="score">0</span></p> <!-- 점수 표시 영역 -->
                            <p><span id="message"></span></p>
                            <div class="tetris-panel-container-padding"></div>
                            <table class="tetris-button-panel">
                                <tr>
                                    <td></td>
                                    <td id="tetris-rotate-button" class="tetris-button">↻</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td id="tetris-move-left-button" class="tetris-button">←</td>
                                    <td id="tetris-fall-button" class="tetris-button">↓</td>
                                    <td id="tetris-move-right-button" class="tetris-button">→</td>
                                </tr>
                            </table>
                        </span>
                    </span>
                </div>
            `;
            var tetris = new Tetris();
            tetris.startGame();
        });
    </script>
    <a class="logout-button" href="/logout">로그아웃</a>
    {% else %}
    <a class="signup-button" href="/signup">회원가입</a>
    <a class="login-button" href="/login">로그인</a>

    <!-- 상위 10명 유저의 점수 표시 -->
    <h2>Top 10 Scores</h2>
    <ul>
        {% for user in topUsers %}
            <li>{{ user.username }}: {{ user.highScore }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    
</body>
</html>
