<!-- views/withdrawConfirmation.njk -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 탈퇴 확인</title>
    <link rel="stylesheet" href="/css/main.css">
    <h2 style="color:DodgerBlue;">정말로 회원 탈퇴하시겠습니까?</h2>
</head>
<body>
    <form action="/withdraw" method="POST">
    <button id="delete">예, 탈퇴합니다</button>
    </form>
</body>
</html>
