.username-container {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 16px;
    z-index: 1001; /* 다른 요소 위에 배치 */
}
body {
    font-family: Arial, sans-serif;
    background: url("../picture/tetris.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.highscore-button,
.login-button,
.logout-button,
.signup-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #16c5dc;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1001; /* 메뉴바 위에 배치 */
}

.login-button:hover,
.logout-button:hover,
.signup-button:hover {
    background-color: #16c5dcad;
    color: black;
}

.highscore-button{
    right: 110px;
}

.signup-button {
    right: 100px;
}


.game-start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면의 세로 중앙에 배치하기 위해 사용 */
}

#start-game-button {
    width: 150px; /* 너비 설정 */
    height: 150px; /* 높이 설정 */
    font-size: 18px; /* 글꼴 크기 조정 */
    border-radius: 10px; /* 테두리 둥글게 만들기 */
    background-color: #4A90E2; /* 배경색 */
    color: #fff; /* 글자색 */
    border: 5px solid #333; /* 테두리 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    text-decoration: none; /* 텍스트에 밑줄 제거 */
    display: inline-block; /* 인라인 블록 요소로 만들어 가로로 배열 */
    transition-duration: 0.4s; /* 호버 효과를 위한 애니메이션 지속 시간 설정 */
    cursor: pointer; /* 마우스 호버 시 커서 모양 변경 */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
}

#start-game-button:hover {
    background-color: #3572C6; /* 호버 시 배경색 변경 */
    color: black
}
